.imagebox {
  background-color: rgb(154, 122, 177);
  border-radius: 28px 28px 25px 25px;
  margin: 8px;
  min-height: 150px;
}

.roundConners {
  border-radius: 25px 25px 0 0;
  width: 100%;
  max-width: 300px;
  min-width: 140px;
}

.textonimage {
  text-align: center;
  padding: 8px 8px 8px 8px;
}
